---
import AboutHeroImage from '../assets/blog-placeholder-about.jpg';
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="Projects"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('January 01 2026')}
	heroImage={AboutHeroImage}
>
	<p>
		To Be added
	</p>
</Layout>
